upstream {{site_name}}_upstream {
  server 172.17.0.1:{{upstream_port}};
}

server {
  listen 80;
  listen [::]:80;

  server_name {{site_server_name}};

  location / {
    proxy_pass  http://{{site_name}}_upstream;

    include /etc/nginx/rules/{{proxy_parameters_file}};
  }

  location ~ /.well-known {
    root /var/www/html;
    allow all;
  }
}
