{% for server in item.value.servers %}
server {
{% for key, value in server.items() %}
{% if value | length == value | string | length %}
  {{ key }} {{ value }};
{% else %}
{% for value_entry in value %}
  {{ key }} {{ value_entry }};
{% endfor %}

{% endif %}
{% endfor %}

{% for location_key, location_value in item.value.locations.items() %}
  location {{location_key}} {
{% if location_value is defined %}
{% for key, value in location_value.items() %}
    {{key}} {{ value }};
{% endfor %}
{% endif %}
  }

{% endfor %}
}
{% endfor %}
