{% for server in item.value.servers %}
{% if not server.disabled is defined or not server.disabled | bool %}
server {
{% if server.options is defined %}
{% for key, value in server.options.items() %}
{% if value | length == value | string | length %}
  {{ key }} {{ value }};
{% else %}
{% for value_entry in value %}
  {{ key }} {{ value_entry }};
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if server.locations is defined %}
{% for location_key, location_value in server.locations.items() %}
  location {{location_key}} {
{% if location_value is defined %}
{% for key, value in location_value.items() %}
    {{key}} {{ value }};
{% endfor %}
{% endif %}
  }
{% endfor %}
{% endif %}
}
{% endif %}
{% endfor %}
