[Install]
WantedBy=multi-user.target

[Unit]
Description=nginx service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f {{docker_container.name}}
ExecStartPre=/usr/bin/docker pull {{image_name}}:{{image_version}}
{% if ticketkey_enabled is defined and ticketkey_enabled | bool %}
ExecStartPre=/bin/bash -c "head -c 48 /dev/urandom > {{ticketkey_file_path}}"
{% endif %}

ExecStart=/usr/bin/docker run --name {{docker_container.name}} \
{% if conf_folder != "" %}
            --volume {{conf_folder}}:/etc/nginx/conf.d \
{% endif %}
{% if rules_folder != "" %}
            --volume {{rules_folder}}:/etc/nginx/rules \
{% endif %}
{% if certs_folder != "" %}
            --volume {{certs_folder}}:/etc/nginx/certs \
{% endif %}
{% if ssl_folder != "" %}
            --volume {{ssl_folder}}:/etc/nginx/ssl \
{% endif %}
{% if www_folder != "" %}
            --volume {{www_folder}}:/var/www/html \
{% endif %}
{% if log_folder != "" %}
            --volume {{log_folder}}:/var/log/nginx \
{% endif %}
{% if https_port != "" %}
            --publish {{https_port}}:443 \
{% endif %}
{% if http_port != "" %}
            --publish {{http_port}}:80 \
{% endif %}
            {{image_name}}:{{image_version}}
ExecStop=-/usr/bin/docker stop {{docker_container.name}}
ExecStopPost=-/usr/bin/docker rm -f {{docker_container.name}}

Restart=always
RestartSec=60s
TimeoutSec=3600
