[Unit]
Description = nginx reload service
Requires    = {{systemd_service_name}}.service

[Service]
ExecStart = /usr/bin/docker exec {{docker_container.name}} nginx -s reload
Restart = no
TimeoutSec = 60
