[Unit]
Description = nginx reload service
Requires    = {{nginx_service_name}}.service

[Service]
ExecStart = /usr/bin/docker exec {{nginx_docker_container_name}} nginx -s reload
Restart = no
TimeoutSec = 60
